<div class="table-responsive">
            <table class="table">
                <thead>
                <tr>

                    <th align='left' >ID</th>
                    <th align='left' >Name</th>
                    <th align='left' >File Name</th>
                    <th align='left' >Jewellery Picture</th>


              </tr>
                </thead>
                <tbody>

                  <td style='width: 200; text-align: center'>1</td>
                     <td style='width: 200; text-align: center'>ear ring</td>
                     <td style='width: 200; text-align: center'>e8.jpg</td>
                     <td style='padding-left: 3%'><img src='UploadedFiles/' style="width:64px;height:64px;" /></td>


                </tbody>
            </table>

