<div class="table-responsive">
            <table class="table">
                <thead>
                <tr>
                    <th align='left'>Serial</th>
                    <th align='left' >ID</th>
                    <th align='left' >Name</th>
                    <th align='left' >File Name</th>
                    <th align='left' >Jewellery Picture</th>


              </tr>
                </thead>
                <tbody>

                  <tr><td width='50'> 15</td><td width='50'> 1 </td><td width='100'> ear ring </td><td width='200'> e8.jpg </td><td style='padding-left: 3%'><img src='UploadedFiles/e8.jpg' style="width:64px;height:64px;" /></td>
</tr><tr><td width='50'> 16</td><td width='50'> 2 </td><td width='100'> ring </td><td width='200'> r20.jpg </td><td style='padding-left: 3%'><img src='UploadedFiles/r20.jpg' style="width:64px;height:64px;" /></td>
</tr><tr><td width='50'> 17</td><td width='50'> 3 </td><td width='100'> Bangles </td><td width='200'> b5.jpg </td><td style='padding-left: 3%'><img src='UploadedFiles/b5.jpg' style="width:64px;height:64px;" /></td>
</tr><tr><td width='50'> 18</td><td width='50'> 4 </td><td width='100'> Bangles </td><td width='200'> b7.jpg </td><td style='padding-left: 3%'><img src='UploadedFiles/b7.jpg' style="width:64px;height:64px;" /></td>
</tr><tr><td width='50'> 19</td><td width='50'> 5 </td><td width='100'> nackleces </td><td width='200'> n1.jpg </td><td style='padding-left: 3%'><img src='UploadedFiles/n1.jpg' style="width:64px;height:64px;" /></td>
</tr><tr><td width='50'> 20</td><td width='50'> 6 </td><td width='100'> ear ring </td><td width='200'> e11.jpg </td><td style='padding-left: 3%'><img src='UploadedFiles/e11.jpg' style="width:64px;height:64px;" /></td>
</tr><tr><td width='50'> 21</td><td width='50'> 7 </td><td width='100'> ring </td><td width='200'> r13.jpg </td><td style='padding-left: 3%'><img src='UploadedFiles/r13.jpg' style="width:64px;height:64px;" /></td>
</tr><tr><td width='50'> 22</td><td width='50'> 8 </td><td width='100'> rings </td><td width='200'> r11.jpg </td><td style='padding-left: 3%'><img src='UploadedFiles/r11.jpg' style="width:64px;height:64px;" /></td>
</tr><tr><td width='50'> 23</td><td width='50'> 9 </td><td width='100'> Bangles </td><td width='200'> b7.jpg </td><td style='padding-left: 3%'><img src='UploadedFiles/b7.jpg' style="width:64px;height:64px;" /></td>
</tr><tr><td width='50'> 24</td><td width='50'> 10 </td><td width='100'> Bangles </td><td width='200'> b2.jpg </td><td style='padding-left: 3%'><img src='UploadedFiles/b2.jpg' style="width:64px;height:64px;" /></td>
</tr><tr><td width='50'> 25</td><td width='50'> 11 </td><td width='100'> nackleces </td><td width='200'> n2.jpg </td><td style='padding-left: 3%'><img src='UploadedFiles/n2.jpg' style="width:64px;height:64px;" /></td>
</tr><tr><td width='50'> 26</td><td width='50'> 12 </td><td width='100'> nackleces </td><td width='200'> n3.jpg </td><td style='padding-left: 3%'><img src='UploadedFiles/n3.jpg' style="width:64px;height:64px;" /></td>
</tr><tr><td width='50'> 27</td><td width='50'> 13 </td><td width='100'> ear ring </td><td width='200'> e13.jpg </td><td style='padding-left: 3%'><img src='UploadedFiles/e13.jpg' style="width:64px;height:64px;" /></td>
</tr><tr><td width='50'> 28</td><td width='50'> 15 </td><td width='100'> ring </td><td width='200'> r2.jpg </td><td style='padding-left: 3%'><img src='UploadedFiles/r2.jpg' style="width:64px;height:64px;" /></td>
</tr>

                </tbody>
            </table>

